#=================================================
# https://github.com/P3TERX/Actions-OpenWrt
# Description: Build OpenWrt using GitHub Actions
# Lisence: MIT
# Author: P3TERX
# Blog: https://p3terx.com
#=================================================

name: Build k2

on:
  release:
    types: [published]
  push:
    branches:
      - 19.07
    paths:
      - 'lienol-ssr-k2.config'
  schedule:
    - cron: 0 8 * * *
 # watch:
 #   types: [started]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@master

    - name: Initialization environment
      env:
        DEBIAN_FRONTEND: noninteractive
      run: |
        sudo -E apt-get -qq update
        sudo -E apt-get -qq install build-essential asciidoc binutils bzip2 gawk gettext git libncurses5-dev libz-dev patch unzip zlib1g-dev lib32gcc1 libc6-dev-i386 subversion flex uglifyjs git-core gcc-multilib p7zip p7zip-full msmtp libssl-dev texinfo libglib2.0-dev xmlto qemu-utils upx libelf-dev autoconf automake libtool autopoint device-tree-compiler
        
    - name: Free up disk space
      if: env.FREE_UP_DISK == 'true'
      env:
        DEBIAN_FRONTEND: noninteractive
      run: |
        sudo rm -rf /usr/share/dotnet
        docker rmi `docker images -q`
        sudo -E apt-get -q purge azure-cli ghc* zulu* hhvm llvm* firefox google* dotnet* powershell openjdk* mysql* php*
        sudo -E apt-get -qq autoremove --purge
        sudo -E apt-get -qq clean
    - name: Clone source code
      env:
        REPO_URL: https://github.com/Lienol/openwrt
        REPO_BRANCH: 19.07
      run: git clone --depth 1 $REPO_URL -b $REPO_BRANCH openwrt

    - name: add 16M config
      run: cd openwrt && rm target/linux/ramips/image/mt7620.mk && wget https://raw.githubusercontent.com/fyfh/openwrt-action/main/16m/mt7620.mk -O target/linux/ramips/image/mt7620.mk && sed -i 's/0x7b0000/0xfb0000/' target/linux/ramips/dts/PSG1218.dtsi

    - name: Update feeds
      run: cd openwrt && ./scripts/feeds update -a

    - name: Install feeds
      run: cd openwrt && ./scripts/feeds install -a

    - name: Load custom configuration
      env:
        CONFIG_FILE: k2.config
        DIY_SH: diy-k2.sh
      run: |
        [ -e files ] && mv files openwrt/files
        [ -e $CONFIG_FILE ] && mv $CONFIG_FILE openwrt/.config
        chmod +x $DIY_SH
        cd openwrt
        ../$DIY_SH
        make defconfig
#    - name: SSH connection to Actions
#      uses: P3TERX/debugger-action@main
#      if: env.SSH_ACTIONS == 'true'

    - name: Download package
      id: package
      run: |
        cd openwrt
        make download -j8
        find dl -size -1024c -exec ls -l {} \;
        find dl -size -1024c -exec rm -f {} \;
    - name: Build
      run: |
        cd openwrt
        echo -e "$(nproc) thread build."
        make -j$(nproc) V=s
    - name : Upload packages
      uses: actions/upload-artifact@master
      with:
        name: OpenWrt packages
        path: openwrt/bin/packages

    - name : Upload targets
      uses: actions/upload-artifact@master
      with:
        name: OpenWrt firmware
        path: openwrt/bin/targets
